
/* css */
.margin-bottom {
  margin-bottom: 15%;
}
.header {
  width: 100%;
}
.title {
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #DC7960;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
body {
  background-color: #213A4F;
}
.text {
  font-family: sans-serif;
  color: white;
}
p {
  font-size: 20px;
}
.capital {
  text-transform: capitalize;
}
.pgh-space {
  margin-top: 3%;
}
.task-name {
  /*background-color: #DC7960;
  text-transform: capitalize;
  color: white;
  border-radius: 40%;*/
  /*text-align: center;
  vertical-align: middle;*/
}
.center {
  text-align: center;
}
.discussion {
  background-color: #DC7960;
}
